[submodule "articles/_posts"]
	path = articles/_posts
	url = git@github.com:sftrabbit/joseph-mansfield-articles.git
[submodule "blog/_posts"]
	path = blog/_posts
	url = git@github.com:sftrabbit/joseph-mansfield-blog.git
[submodule "media"]
	path = media
	url = git@github.com:sftrabbit/joseph-mansfield-media.git
