---
layout: default
title: Page not found
description: Software developer and computer science student at the University of York.
---
			<div class="container">
				<div class="row">
					<section class="column-2">
						<h1>Page not found</h1>
						<p>The page you requested doesn't seem to exist. If you followed a link on this website, please <a href="https://github.com/sftrabbit/JosephMansfield/issues">report it as an issue</a>.</p>
						<p><a class="button" href="{{ site.base_url }}/">Home page</a></p>
					</section>
				</div>
			</div>
			<div class="alt">
				<div class="container">
					<div class="row">
						<section class="column-2">
							<h1>Looking for something to read?</h1>
							<ul class="articles">
{% for article in site.categories.articles limit:2 %}
								<li>
									<article>
										<h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
										<p class="secondary">{{ article.description }}</p>
										<p><a href="{{ article.url }}">Read {% if article.tags != empty %}this {{ article.tags[0] }}{% endif %} article →</a></p>
									</article>
								</li>
{% endfor %}
							</ul>
						</section>
					</div>
				</div>
			</div>
