---
layout: default
title: Joseph Mansfield, software developer
description: Software developer and computer science student at the University of York.
class: index
microdata_type: http://schema.org/Person
microdata_meta:
  - name: jobTitle
    value: Computer Science Student
  - name: birthDate
    value: 1990-09-15
  - name: image
    value: http://www.gravatar.com/avatar/9f438bc04462ee5af4132921a3474842.png?s=256
---
			<div class="container">
				<div class="row bio">
					<div class="column-2">
						<p>I'm a software developer studying computer science at the <a href="http://www.york.ac.uk/" rel="external">University of York</a>.</p>
						<p>My interests include C++ programming, web development, Android development, game development, computer graphics, interface design, and system engineering.</p>
					</div>
				</div>
			</div>
{% if site.categories.articles %}
			<div class="alt">
				<div class="container">
{% include article_list.html num=2 %}
					<div class="row">
						<div class="column-2">
							<p><a class="button" href="{{ site.base_url }}/articles/">More articles…</a></p>
						</div>
					</div>
				</div>
			</div>
{% endif %}
