---
layout: default
title: Joseph Mansfield, software developer
description: Software developer and computer science student at the University of York.
class: index
microdata_type: http://schema.org/Person
microdata_meta:
  - name: jobTitle
    value: Computer Science Student
  - name: birthDate
    value: 1990-09-15
  - name: image
    value: http://www.gravatar.com/avatar/9f438bc04462ee5af4132921a3474842.png?s=256
---
			<div class="page">
				<div class="row">
					<div class="column-2">
						<p>I'm a software developer studying computer science at the <a href="http://www.york.ac.uk/">University of York</a>.</p>
						<p>My interests include C++ programming, web development, Android development, game development, computer graphics, interface design, and system engineering.</p>
					</div>
					<div class="column-1 cv">
						<a href="{{ site.base_url}}cv.pdf">
							<img src="{{ site.base_url }}images/cv.png" width="74px" height="103px" />
							Curriculum Vitae
						</a>
					</div>
				</div>
				<div class="row">
					<div class="column-2">
						<ul class="article-list">
{% for article in site.categories.articles limit:3 %}
							<li>
								<article>
									<h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
									<p class="secondary">{{ article.description }}</p>
									<p><a href="{{ article.url }}">Read {% if article.tags != empty %}this {{ article.tags[0] }}{% endif %} article →</a></p>
								</article>
							</li>
{% endfor %}
						</ul>
					</div>
				</div>
			</div>
