<style>
.article-list-item p {
  margin: 0;
  width: 10em;
  text-align: right;
}

.article-list-item time {
  font-style: italic;
}

.article-list-item:after {
  content: "";
  display: table;
  clear: both;
}

.article-list-item div {
  margin-left: 11em;
}

.article-list-item div h1 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
</style>
<section class="article-list-item">
  <p style="float:left">
    <time datetime="{{ include.article.date }}">
      {% assign day = include.article.date | date: "%-d"  %}
      {% case day %}
        {% when '1' or '21' or '31' %}{{ day }}st
        {% when '2' or '22' %}{{ day }}nd
        {% when '3' or '23' %}{{ day }}rd
        {% else %}{{ day }}th
      {% endcase %}
      {{ include.article.date | date: "%B %Y" }}
    </time>
  </p>
  <div>
    <h1><a href="{{ include.article.url }}">{{ include.article.title }}</a></h1>
  </div>
</section>
