<style>
.article-list-item p {
  margin: 0;
  width: 6em;
  text-align: right;
}

.article-list-item time {
  font-style: italic;
}

.article-list-item:after {
  content: "";
  display: table;
  clear: both;
}

.article-list-item div {
  margin-left: 7em;
}

.article-list-item div h1 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
</style>
<section class="article-list-item">
  <p style="float:left"><time datetime="{{ include.article.date }}">{{ include.article.date | date_to_string }}</time></p>
  <div>
    <h1><a href="{{ include.article.url }}">{{ include.article.title }}</a></h1>
  </div>
</section>
