<section>
  <p>
    <time datetime="{{ include.article.date }}">
      {% assign day = include.article.date | date: "%-d"  %}
      {% case day %}
        {% when '1' or '21' or '31' %}{{ day }}st
        {% when '2' or '22' %}{{ day }}nd
        {% when '3' or '23' %}{{ day }}rd
        {% else %}{{ day }}th
      {% endcase %}
      {{ include.article.date | date: "%B %Y" }}
    </time>
  </p>
  <div>
    <h1><a href="{{ include.article.url }}">{{ include.article.title }}</a></h1>
  </div>
</section>
