		<header>
			<div class="page">
				<a class="contentskip" href="#content">Skip to content</a>
				<a class="title" href="{{ site.baseurl }}"{% if page.microdata_type == 'http://schema.org/Person' %} itemprop="name"{% endif %}>
{% if page.class == 'index' %}
					<img src="{{ site.baseurl }}images/logo.svg" alt="">
{% else %}
					<img src="{{ site.baseurl }}images/header-icon.svg" alt="">
{% endif %}
					<h1>Joseph Mansfield</h1>	
				</a>
{% if page.class == 'index' %}
{% assign image_suffix = 'color' %}
{% else %}
{% assign image_suffix = 'white' %}
{% endif %}
				<ul class="related-resources">
					<li><a href="https://github.com/sftrabbit" title="GitHub"><img src="{{ site.baseurl }}images/github-{{ image_suffix }}.svg" alt="GitHub"></a></li>
					<li><a href="http://stackoverflow.com/users/150634/joseph-mansfield" title="Stack Overflow"><img src="{{ site.baseurl }}images/stackoverflow-{{ image_suffix }}.svg" alt="Stack Overflow"></a></li>
					<li><a href="https://twitter.com/sftrabbit" title="Twitter"><img src="{{ site.baseurl }}images/twitter-{{ image_suffix }}.svg" alt="Twitter"></a></li>
					<li><a href="https://plus.google.com/+JosephMansfield?rel=author" title="Google+"><img src="{{ site.baseurl }}images/gplus-{{ image_suffix }}.svg" alt="Google+"></a></li>
					<li><a href="https://uk.linkedin.com/in/sftrabbit/" title="LinkedIn"><img src="{{ site.baseurl }}images/linkedin-{{ image_suffix }}.svg" alt="LinkedIn"></a></li>
				</ul>
			</div>
		</header>
