		<meta charset="utf-8">
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="Joseph Mansfield">
		<meta name="viewport" content="width=device-width,user-scalable=no">
		<link rel="author" href="http://sftrabbit.co.uk/">
		<link rel="logo" type="image/svg" href="{{ site.baseurl }}/images/logo.svg">
		<link rel="icon" sizes="16x16" type="image/vnd.microsoft.icon" href="{{ site.baseurl }}/images/icon-16.ico">
		<link rel="icon" sizes="32x32" type="image/vnd.microsoft.icon" href="{{ site.baseurl }}/images/icon-32.ico">
		<link rel="license" href="http://creativecommons.org/licenses/by/4.0/">
		<link rel="stylesheet" href="{{ site.baseurl }}/styles/screen.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Open+Sans:400italic,700italic,400,700|Ubuntu+Mono">
