		<meta charset="utf-8">
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="Joseph Mansfield">
		<meta name="viewport" content="width=device-width,user-scalable=no">
		<link rel="author" href="{{ site.url }}">
		<link rel="logo" type="image/svg" href="{{ site.baseurl }}/images/logo.svg">
		<link rel="icon" sizes="16x16" type="image/vnd.microsoft.icon" href="{{ site.baseurl }}/images/icon-16.ico">
		<link rel="icon" sizes="32x32" type="image/vnd.microsoft.icon" href="{{ site.baseurl }}/images/icon-32.ico">
		<link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
		<link rel="stylesheet" href="{{ site.baseurl }}/styles/screen.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Open+Sans:400italic,700italic,400,700|Ubuntu+Mono">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@sftrabbit">
		<meta property="og:title" content="{{ page.title | strip_html }}">
		<meta property="og:site_name" content="Joseph Mansfield">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:description" content="{{ page.description }}">
		<meta property="og:image" content="{{ site.url }}/images/logo.png">
		<meta property="fb:app_id" content="526696677453668">
