$bgcolor: #fefefe;
$text-color: #222222;
$text-color-secondary: lighten($text-color, 30%);
$link-color: #0d83c2;
$link-color-secondary: lighten($link-color, 15%);
$header-color: #92c008;

$bgcolor-alt: #ffffff;
$text-color-alt: $text-color;
$link-color-alt: $link-color;

$bgcolor-running: #2a93cd;
$text-color-running: #fdfdfd;
$link-color-running: #b9e72d;

$button-bgcolor: #92c008;
$button-text-color: #fdfdfd;
