$page-bgcolor: #fdfdfd;
$page-bgcolor-alt: #5f9bbc;
$page-bgcolor-alt2: #f3f3f3;

$text-color: #222222;
$text-color-secondary: lighten($text-color, 30%);
$link-color: #347192;
$header-color: #9ab549;

$text-color-alt: #fdfdfd;
$link-color-alt: #b9e72d;

$button-color: #9ab549;
