$base-font-size: 19px;
$base-line-height: 1.5em;
$small-font-size: 0.8em;

$title-font-size: 1.6rem;
$flow-title-font-size: 2.0rem;
$index-title-font-size: 2.8rem;

$base-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Goudy Bookletter 1911', serif;
