$base-font-size: 16px;
$tiny-font-size: 14px;
$base-line-height: 1.5em;
$small-font-size: 0.8em;
$small-line-height: 1.4em;

$title-font-size: 30px;
$flow-title-font-size: 30px;
$index-title-font-size: 40px;

$code-font-size: 1em;
$code-small-font-size: 14px;

$base-font-family: 'Roboto', sans-serif;
$header-font-family: 'Roboto Slab', sans-serif;
$title-font-family: 'Goudy Bookletter 1911', serif;
