$base-font-size: 17px;
$tiny-font-size: 15px;
$base-line-height: 1.5em;
$small-font-size: 0.8em;
$small-line-height: 1.4em;

$title-font-size: 30px;
$flow-title-font-size: 38px;
$index-title-font-size: 53px;

$code-font-size: 0.85em;
$code-small-font-size: 14px;

$base-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Goudy Bookletter 1911', serif;
