p {
	margin: 1em 0;
}

p:first-child {
	margin-top: 0;
}

article { 
	> h1 {
		font-size: 1.6em;
		line-height: 1em;
		color: $header-color;
	}

	section h1 {
		margin-top: 1.5em;
		font-size: 1.3em;
		line-height: 1em;
		color: $text-color;
	}

	aside {
		float: left;
		position: absolute;
		margin-left: 660px;
		width: 300px;
		font-size: 0.8em;
		line-height: 1.4em;
	}

	figure {
		@include clearfix;
		margin-bottom: 1em;
	}

	figure img, figure pre {
		float: left;
	}

	figcaption {
		float: left;
		position: absolute;
		margin-left: 660px;
		width: 300px;
		font-size: 0.8em;
		line-height: 1.4em;
	}
}
