p, aside {
  margin: 1.2em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.more {
    margin-left: 11em;
  }
}

h1 {
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.4em;
  color: $text-color;

  a {
    color: $text-color;
  }
}

section h1 {
  margin: 2em 0 1em 0;
  font-size: 20px;
  font-weight: bold;
  color: $text-color;

  a {
    color: $link-color;
  }
}

hgroup {
  margin: 2em 0 1em 0;

  h1, h2 {
    margin: 0;
  }
}

aside {
  font-size: 0.8em;
  line-height: 1.4em;
  color: $text-color-secondary;
}

figure {
  @include clearfix;
  margin-bottom: 1em;
}

figure img, figure pre {
  float: left;
  max-width: 100%;
}

.yt-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

pre {
  overflow: auto;
}

figcaption {
  font-size: 0.8em;
  line-height: 1.4em;
  color: $text-color-secondary;
}

ul {
  list-style-type: disc;

  li {
    margin: 0 0 0.5em 1.5em;
  }

  &.posts {
    list-style-type: none;

    > li {
      margin: 0.5em 0;

      > section {
        @include clearfix;

        > p {
          float: left;
          margin: 0;
          width: 10em;
          text-align: right;
        }

        > div {
          margin-left: 11em;

          h1 {
            margin: 0;
            font-size: 16px;
            font-weight: normal;
          }
        }

        @media (max-width: upper-limit(tiny)) {
          > p {
            float: none;
            text-align: left;
          }

          > div {
            margin: 0;
          }
        }
      }
    }
  }

  &.gallery {
    list-style-type: none;

    > li {
      @include clearfix;
      margin-left: 0;
      padding-bottom: 1em;
      margin-bottom: 1em;

      > div {
        margin-bottom: 1rem;

        h1 {
          display: inline;
          font-size: 16px;
        }

        span {
          font-style: italic;
        }
      }

      > a {
        display: block;
      }

      img {
        width: 100%;
        border-radius: 0.5rem;
      }

      p {
        margin: 1em 0;
      }

      @media (max-width: upper-limit(tiny)) {
        img {
          float: none;
          margin-bottom: 1em;
        }

        div {
          margin: 0;
        }
      }
    }
  }
}

dl dt {
  float: left;
  font-weight: bold;
  margin-right: 0.7em;
}

dl dd {
  margin-left: 1.5em;
}

ol {
  list-style-type: decimal;

  li {
    margin: 0 0 1em 1.5em;
  }
}

hr {
  width: 100%;
  height: 1px;
  color: #ccc;
  background-color: #ccc;
  border: 0px;
}

p .icon {
  position: relative;
  top: 2px;
  margin-right: 0.5em;
}
