@mixin sidebar() {
	@media (min-width: upper-limit(thin) + 1) {
		float: left;
		position: absolute;
		margin-left: column-offset(normal, 2) - gutter-width(normal);
		width: column-width(normal);
	}

	@media (max-width: upper-limit(thin)) and (min-width: upper-limit(flow) + 1) {
		float: left;
		position: absolute;
		margin-left: column-offset(thin, 2) - gutter-width(thin);
		width: column-width(thin);
	}
}

p, aside {
	margin: 1.2em 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

section h1 {
	margin-bottom: 1em;
	font-weight: 700;

	img:first-child {
		position: relative;
		top: 1px;
		margin-right: 0.2em;
	}
}

article { 
	h1, header h1 {
		font-size: 1.6em;
		font-weight: 700;
		line-height: 1.4em;
		color: $header-color;

		a {
			@include link-colors($header-color);
		}
	}

	footer {
		margin-top: 1.5em;
		text-align: center;

		.author-photo {
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}

		.author {
			font-size: $small-font-size;

			.author-name {
				display: block;
				font-size: $base-font-size;
			}

			small {
				margin-top: 0.5em;
			}
		}

		.related-resources {
			li {
				display: inline-block;
				width: 34px;
				height: 34px;
				margin: 4px;

				img {
					width: 34px;
					height: 34px;
				}

				img:hover {
					@include animation(wiggle);
				}
			}
		}

		p small {
			margin: 0 2em;
		}
	}

	section h1 {
		margin-top: 2em;
		font-size: 1.2em;
		font-weight: 700;
		line-height: 1.4em;
		color: $text-color;
	}

	aside {
		font-size: 0.8em;
		line-height: 1.4em;
		color: $text-color-secondary;
	}

	figure {
		@include clearfix;
		margin-bottom: 1em;
	}

	figure img, figure pre {
		float: left;
		max-width: 100%;
	}

	pre {
		margin: 1.2em 0;
		overflow: auto;
	}

	figcaption {
		font-size: 0.8em;
		line-height: 1.4em;
		color: $text-color-secondary;
	}
}

.alt {
	h1 {
		color: $text-color;
	}

	article h1 a {
		@include link-colors($header-color);
	}
}

ul {
	list-style-type: disc;

	li {
		margin-left: 1.5em;
	}

	&.articles {
		list-style-type: none;
	
		li {
			margin: 0 0 3em 0;
		}
	
		li:last-child {
			margin: 0;
		}
	}
}

dl dt {
	float: left;
	font-weight: bold;
	margin-right: 0.7em;
}

dl dd {
	margin-left: 1.5em;
}

ol {
	list-style-type: decimal;

	li {
		margin: 0 0 1em 1.5em;
	}
}

ul.share-buttons {
	list-style-type: none;

	li {
		margin: 0;
	}

	li.facebook {
		margin-bottom: 9px;
	}
}

hr {
	width: 100%;
	height: 1px;
	color: #ccc;
	background-color: #ccc;
	border: 0px;
}

.josephmansfield-article-bottom {
	display: block;
	width: 100%;
	height: 98px;
}

.josephmansfield-article-side {
	display: block;
	width: 100%;
	height: 196px;
}
