p, aside {
  margin: 1.2em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.4em;
  color: $text-color;

  a {
    color: $text-color;
  }
}

section h1 {
  margin: 2em 0 1em 0;
  font-size: 20px;
  font-weight: bold;
  color: $text-color;

  a {
    color: $link-color;
  }
}

article {
  h1, header h1 {
    font-family: $header-font-family;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.4em;
    color: $header-color;

    a {
      color: $header-color;
    }
  }

  footer {
    margin-top: 1.5em;
    text-align: center;

    .author-photo {
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }

    .author {
      font-size: $small-font-size;

      .author-name {
        display: block;
        font-size: $base-font-size;
      }

      small {
        margin-top: 0.5em;
      }
    }

    .related-resources {
      li {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin: 4px;

        img {
          width: 34px;
          height: 34px;
        }
      }
    }

    p small {
      margin: 0 2em;
    }
  }

  section h1 {
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.4em;
    color: $text-color;
  }

  aside {
    font-size: 0.8em;
    line-height: 1.4em;
    color: $text-color-secondary;
  }

  figure {
    @include clearfix;
    margin-bottom: 1em;
  }

  figure img, figure pre {
    float: left;
    max-width: 100%;
  }

  pre {
    margin: 1.2em 0;
    overflow: auto;
  }

  figcaption {
    font-size: 0.8em;
    line-height: 1.4em;
    color: $text-color-secondary;
  }
}

ul {
  list-style-type: disc;

  li {
    margin: 0 0 0.5em 1.5em;
  }

  &.articles {
    list-style-type: none;

    li {
      margin: 0.5em 0;
    }
  }

  &.gallery {
    list-style-type: none;

    > li {
      @include clearfix;
      margin-left: 0;
      margin-bottom: 1em;

      img {
        float: left;
        width: 10em;
        margin-right: 1em;
      }

      h1 {
        font-size: 16px;
        margin: 0 0 0.5em 0;
      }

      p {
        margin: 0.5em 0;
      }
    }
  }
}

dl dt {
  float: left;
  font-weight: bold;
  margin-right: 0.7em;
}

dl dd {
  margin-left: 1.5em;
}

ol {
  list-style-type: decimal;

  li {
    margin: 0 0 1em 1.5em;
  }
}

hr {
  width: 100%;
  height: 1px;
  color: #ccc;
  background-color: #ccc;
  border: 0px;
}
