body.index {
  header {
    .title {
      img {
        float: left;
        margin-right: 1.5em;
        height: 8em;
      }

      h1 {
        float: none;
        margin: 0;
        font: $index-title-font-size $title-font-family;
      }
    }

    .related-resources {
      float: none;
    }
  }
}
