body.index {
	> header {
		padding: 2.5em 0 0 0;
		background-color: $bgcolor;
		border-top: 8px solid $bgcolor-running;
		text-align: center;

		.title {
			img {
				float: none;
				margin: 0;
				height: 12em;
			}

			h1 {
				float: none;
				font: $index-title-font-size $title-font-family;
				color: $text-color;
			}

			@media (max-width: upper-limit(flow)) {
				img {
					height: 8em;
					margin: 0;
				}

				h1 {
					font: $flow-title-font-size $title-font-family;
				}
			}
		}

		.related-resources {
			float: none;
			margin-top: 1em;
			margin-bottom: 0;

			li {
				width: 51px;
				height: 51px;
				margin: 1em 0.5em 0 0.5em;

				img {
					@include opacity(1.0);
					width: 51px;
					height: 51px;
				}
			}

			@media (max-width: upper-limit(flow)) {
				display: block;
			}
		}
	}
}

.cv {
	img {
		margin: 0.3em auto 0.7em auto;
		display: block;
		box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.05);
	}

	a:hover {
		text-decoration: none;
	}

	text-align: center;
}
