body.index {
	> header {
		padding: 2.5em 0 0 0;
		background-color: $bgcolor;
		border-top: 8px solid $bgcolor-running;
		text-align: center;
		color: $text-color;

		.title {
			img {
				float: none;
				margin: 0;
				height: 12em;
			}

			h1 {
				float: none;
				font: $index-title-font-size $title-font-family;
				color: $text-color;
				margin-bottom: 0.4em;
			}

			@media (max-width: upper-limit(flow)) {
				img {
					height: 8em;
					margin: 0;
				}

				h1 {
					font: $flow-title-font-size $title-font-family;
				}
			}
		}

		p {
			font: 22px $title-font-family;
			margin: 0em;
			text-align: center;
			color: $text-color-secondary;
		}

		.related-resources {
			float: none;
			margin-top: 1em;
			margin-bottom: 2.5em;

			li {
				width: 51px;
				height: 51px;
				margin: 1em 0.5em 0 0.5em;

				img {
					opacity: 1.0;
					width: 51px;
					height: 51px;
				}
			}

			@media (max-width: upper-limit(flow)) {
				display: block;
			}
		}
	}
}

.bio {
	padding-bottom: 4em;
	margin-left: 0;
	font-size: 19px;

	.column-2 {
		float: none;
		margin: 0 auto;
	}
}
