body.index {
  header {
    .title {
      img {
        float: left;
        margin-right: 1.5em;
        height: 8em;
      }

      h1 {
        float: none;
        margin: 0;
        font: $index-title-font-size $title-font-family;
      }

      @media (max-width: upper-limit(flow)) {
        h1 {
          font: $flow-title-font-size $title-font-family;
        }

        img {
          height: 6em;
        }
      }

      @media (max-width: upper-limit(tiny)) {
        @include clearfix;
      }
    }

    .related-resources {
      float: none;
    }
  }
}
