html {
	@media (max-width: upper-limit(tiny)) {
		font-size: #{$tiny-font-size};
	}
}

@mixin running {
	color: $text-color-running;
	background-color: $bgcolor-running;
}

body {
	color: $text-color;
	font: #{$base-font-size}/#{$base-line-height} $base-font-family;
	background-color: $bgcolor-running;

	> header {
		@include clearfix;
		@include running;

		padding: 8px 0;

		.title {
			img {
				@include animation(fadeIn);
				float: left;
				margin: 4px 1em 0 0;
				height: 2.0em;
			}

			h1 {
				float: left;
				margin-top: 1px;
				font: $title-font-size $title-font-family;
				color: $text-color-running;
			}
		}

		.related-resources {
			@include clearfix;
			float: right;
		
			li {
				display: inline-block;
				width: 34px;
				height: 34px;
				margin: 4px;
		
				img {
					opacity: 0.5;
		
					width: 34px;
					height: 34px;
				}
		
				img:hover {
					@include animation(wiggle);
				}
			}
		
			@media (max-width: upper-limit(flow)) {
				display: none;
			}
		}
	}

	main {
		background-color: $bgcolor;
	}

	> footer {
		@include running;

		font-size: $small-font-size; 

		.row:first-child {
			padding: 2em 0;
		}

		.social-buttons {
			text-align: right;
		}
	}

}

.alt {
	color: $text-color-alt;
	background-color: $bgcolor-alt;

	a {
		color: $link-color-alt;
	}
}

.contentskip {
	position: absolute;
	font-size: $small-font-size;
	padding: 0 1em; 
	top: -2em;
	left: 1em;

	&:focus {
		top: 1em;
	}
}

::selection {
	background: #aecf4a;
	color: #fff;
}
