html {
	color: $text-color;
	font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

body {
	background-color: $page-bgcolor-alt;

	> div {
		background-color: $page-bgcolor;

		> header {
			@include clearfix;
			padding: 8px 0;
			background-color: $page-bgcolor-alt;

			.title {
				@include unstyled-link;

				img {
					@include animation(fadeIn);
					float: left;
					margin: 4px 1em 0 0;
					height: 2.0em;
				}

				h1 {
					float: left;
					margin-top: 2px;
					font: $title-font-size $title-font-family;
					color: $text-color-alt;
				}
			}
		}
	}

	&.index {
		> div {
			> header {
				background-color: transparent;
				border-top: 8px solid $page-bgcolor-alt;
				padding: 2em 30px 0 30px;
				text-align: center;

				.title {
					img {
						float: none;
						height: 12em;
						margin-top: 1em;
					}

					h1 {
						float: none;
						font: $index-title-font-size $title-font-family;
						color: $text-color;
					}

					@media (max-width: 760px) {
						img {
							height: 8em;
							margin: 0;
						}

						h1 {
							font: $flow-title-font-size $title-font-family;
						}
					}
				}
			}
		}
	}
}

.related-resources {
	@include clearfix;
	float: right;

	li {
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 0.2em 0.2em 0.2em 0.2em;

		img {
			@include opacity(0.5);

			width: 34px;
			height: 34px;
		}

		img:hover {
			@include animation(wiggle);
		}
	}

	@media (max-width: 760px) {
		display: none;
	}
}

body.index {
	.related-resources {
		float: none;
		margin-top: 1em;
		margin-bottom: 0;

		li {
			width: 51px;
			height: 51px;
			margin: 1em 0.5em 0 0.5em;

			img {
				@include opacity(1.0);
				width: 51px;
				height: 51px;
			}
		}

		@media (max-width: 760px) {
			display: block;
		}
	}
}

.cv {
	img {
		margin: 0.3em auto 0.7em auto;
		display: block;
		box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.05);
	}

	a:hover {
		text-decoration: none;
	}

	text-align: center;
}

.social-buttons {
	text-align: right;
}

main {
	padding: 3em 0 2em 0;
	background-color: $page-bgcolor;
}

.page {
	@include center;
	width: page-width(normal);

	@media (max-width: 1020px) {
		width: page-width(thin);
	}
	@media (max-width: 760px) {
		width: page-width(flow);
		margin: 0 30px;
	}
}

footer {
	padding: 2em 0;
	background-color: $page-bgcolor-alt;
	color: $text-color-alt;
	font-size: $small-font-size;
}

.josephmansfield-article {
	display: inline-block;
	width: column-width-n(normal, 2);
	height: 98px;

	@media (max-width: 1020px) {
		width: column-width-n(thin, 2);
	}

	@media (max-width: 760px) {
		width: column-width-n(flow, 2);
	}
}

.contentskip {
	position: absolute;
	font-size: $small-font-size;
	padding: 0 1em; 
	top: -2em;
	left: 1em;

	&:focus {
		top: 1em;
	}
}

::selection {
	background: #aecf4a;
	color: #fff;
}
