.secondary {
	color: $text-color-secondary;
}

small {
	@extend .secondary;
	font-size: $small-font-size;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

u {
	text-decoration: underline;
}

mark {
	background-color: #FFF68C;
	padding: 0 0.2em;
}

pre {
	tab-size: 2;
}

code {
	font-family: 'Ubuntu Mono', 'Courier New', sans-serif;
}

a {
	@include link-colors($link-color);
	@include hover-link;
}

a.secondary {
	@include hover-link;
	font-size: $small-font-size;

	&:hover {
		color: $link-color;
	}
}

a.button {
	@include border-radius(5px);

	display: inline-block;
	padding: 0.5em 1em;
	background-color: $button-bgcolor;
	color: $button-text-color;

	&:hover {
		text-decoration: none;
	}
}

body > footer {
	a {
		color: $link-color-running;
	}
}
