small {
	@extend .secondary;
	font-size: $small-font-size;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

u {
	text-decoration: underline;
}

mark {
	background-color: #FFF68C;
	padding: 0 0.2em;
}

pre {
	padding: 0.5em 1em;
	tab-size: 2;
	background-color: $bgcolor-alt;

	code {
		display: block;
		line-height: 1.4em;
	}
}

code {
	font-family: 'Ubuntu Mono', 'Courier New', sans-serif;
	font-size: $code-font-size;
	line-height: 1em;
}

a {
	@include link-colors($link-color);
	@include hover-link;
}

a.button {
	@include border-radius(5px);

	display: inline-block;
	padding: 0.5em 1em;
	background-color: $button-bgcolor;
	color: $button-text-color;

	&:hover {
		text-decoration: none;
	}
}

.secondary {
	color: $text-color-secondary;

	a {
		@include link-colors($link-color-secondary);
	}
}


body > footer {
	a {
		color: $link-color-running;
	}
}
