small {
	@extend .secondary;
	display: block;
	font-size: $small-font-size;
	line-height: $small-line-height;
}

em, i, dfn {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

u {
	text-decoration: underline;
}

cite {
	font-style: italic;
}

mark {
	background-color: #FFF68C;
	padding: 0 0.2em;
}

code {
	padding: 2px 4px;
	background-color: $bgcolor-alt;
	font-family: 'Ubuntu Mono', 'Courier New', sans-serif;
	font-size: $code-font-size;
	line-height: 1em;
}

h1 code {
	background-color: transparent;
}

pre {
	padding: 0.5em 1em;
	tab-size: 2;
	background-color: $bgcolor-alt;

	@media (max-width: upper-limit(tiny)) {
		padding: 0.5em;
	}

	code {
		display: block;
		padding: 0;
		line-height: 1.4em;
	}
}

a[href] {
	@include link-colors($link-color);
	@include hover-link;
}

a.button {
	@include border-radius(5px);

	display: inline-block;
	padding: 0.5em 1em;
	background-color: $button-bgcolor;
	color: $button-text-color;

	&:hover {
		text-decoration: none;
	}
}

.reference {
	vertical-align: super;
	font-size: 60%;
}

.secondary {
	color: $text-color-secondary;

	a {
		@include link-colors($link-color-secondary);
	}
}


body > footer {
	a {
		color: $link-color-running;
	}
}
