@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/typography/links";
@import "compass/utilities/general/clearfix";

@import "colors";
@import "fonts";
@import "layout";

@import "page";
@import "format";
@import "text";

.related-site {
	display: block;
	float: left;
	margin-right: 1em;
	margin-bottom: vert(1);

	> img {
		width: auto;
		height: vert(3);
	}
}

.stackoverflow {
	@include unstyled-link;
	width: 190px;

	> img {
		float: left;
		margin-right: 0.5em;
	}

	.reputation {
		display: block;
		font-weight: bold;
	}

	.badge {
		margin-bottom: 2px;
	}

	&:hover {
		color: $link-text-color;
		text-decoration: none;
	}
}

.button {
	@include border-radius;
	display: block;
	float: left;
	margin-top: 0px;
	padding: vert(0.5) 1em;
	color: #bdd8e3;
	text-align: center;
	background-color: #5e9bbc;
	border-bottom: 3px solid #347192;

	&:active {
		margin-top: 3px;
		border-bottom: 0px;
	}
}

@import "syntax";
