<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }} by Joseph Mansfield</title>
{% include meta.html %}
	</head>
	<body{% if page.class %} class="{{ page.class }}"{% endif %}>
		<div class="container">
{% include header.html %}
			<main id="content">
				<div class="page">
					<div class="row">
						<article class="column-2" itemscope itemtype="http://schema.org/TechArticle">
							<header>
								<h1 itemprop="headline">{{ page.title }}</h1>
							</header>
							<p class="secondary">{{ page.description }}</p>
{{ content }}
						</article>
					</div>
					<div class="row">
						<div class="column-2">
							<p><b>Share this article</b></p>
							<p>
								<div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>
								<a href="https://twitter.com/share" class="twitter-share-button" data-text="Read “{{ page.title }}”, a {{ page.tags[0] }} article by Joseph Mansfield" data-size="large" data-via="sftrabbit">Tweet</a>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="column-2">
							<p><b>Want something else to read?</b></p>
{% assign related_article = site.related_posts[0] %}
							<article>
								<h1><a href="{{ related_article.url }}">{{ related_article.title }}</a></h1>
								<p class="secondary">{{ related_article.description }}</p>
								<p><a href="{{ related_article.url }}">Read {% if related_article.tags != empty %}this {{ related_article.tags[0] }}{% endif %} article →</a></p>
							</article>
						</div>
					</div>
					<div class="row">
						<div class="column-2">
							<ins class="adsbygoogle josephmansfield-article" data-ad-client="ca-pub-6789411983750873" data-ad-slot="2589226334" data-adtest="on"></ins>
						</div>
					</div>
				</div>
			</main>
{% include footer.html %}
{% include scripts.html %}
		</div>
	</body>
</html>
