<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }} by Joseph Mansfield</title>
{% include meta.html %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@sftrabbit">
		<meta name="twitter:title" content="{{ page.title }}">
		<meta name="twitter:description" content="{{ page.description }}">
	</head>
	<body{% if page.class %} class="{{ page.class }}"{% endif %}>
{% include header.html %}
		<main id="content">
			<div class="container">
				<div class="row">
					<article class="column-2" itemscope itemtype="http://schema.org/TechArticle">
						<header>
							<h1 itemprop="headline">{{ page.title }}</h1>
						</header>
						<p class="secondary" itemprop="description">{{ page.description }}</p>
{{ content }}
						<footer>
							<p class="author">Written by <a href="{{ site.base_url }}/" itemprop="author">Joseph Mansfield</a></p>
{% assign filename = page.path | remove: 'articles/_posts/' %}
							<p class="secondary">Notice any mistakes? <a href="https://github.com/sftrabbit/JosephMansfieldArticles/blob/master/{{ filename }}">Fork the article on GitHub</a>.</p>
						</footer>
					</article>
				</div>
{% if site.environment == 'production' %}
				<div class="row">
					<ins class="adsbygoogle josephmansfield-article" data-ad-client="ca-pub-6789411983750873" data-ad-slot="2589226334"></ins>
				</div>
{% endif %}
			</div>
			<div class="alt">
				<div class="container">
					<div class="row">
{% assign related_article = site.related_posts[0] %}
{% if related_article != nil %}
						<section class="column-2">
							<h1>Want something else to read?</h1>
							<article>
								<h1><a href="{{ related_article.url }}">{{ related_article.title }}</a></h1>
								<p class="secondary">{{ related_article.description }}</p>
								<p><a href="{{ related_article.url }}">Read {% if related_article.tags != empty %}this {{ related_article.tags[0] }}{% endif %} article →</a></p>
							</article>
						</section>
{% endif %}
						<section class="column-1">
							<h1>Share this article</h1>
							<ul class="share-buttons">
								<li><div class="g-plus" data-action="share" data-annotation="bubble" data-height="24">Share on Google+</div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-text="Read “{{ page.title }}”, a {{ page.tags[0] }} article by Joseph Mansfield" data-size="large" data-via="sftrabbit">Share on Twitter</a></li>
								<li><div class="fb-like" data-href="{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</main>
{% include footer.html %}
{% include scripts.html %}
	</body>
</html>
