<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
{% include meta.html %}
	</head>
	<body{% if page.class %} class="{{ page.class }}"{% endif %}{% if page.microdata_type %} itemscope itemtype="{{ page.microdata_type }}"{% endif %}>{% for meta in page.microdata_meta %}
		<meta itemprop="{{ meta.name }}" content="{{ meta.value }}">{% endfor %}
{% include header.html %}
		<main id="content">
{{ content }}
		</main>
{% include footer.html %}
{% include scripts.html %}
	</body>
</html>
