<!doctype html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" lang="en">
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} —
      {% endif %}
      Joseph Mansfield
    </title>
    {% include meta.html %}
  </head>
  <body{% if page.class %} class="{{ page.class }}"{% endif %}{% if page.microdata_type %} itemscope itemtype="{{ page.microdata_type }}"{% endif %}>{% for meta in page.microdata_meta %}
    <meta itemprop="{{ meta.name }}" content="{{ meta.value }}">{% endfor %}
    <div class="container">
      <header>{% include header.html %}</header>
      <main>
        {% if page.title %}
          <hgroup>
            <h1>{{ page.title }}</h1>
            {% if page.date %}
              <h2>
                <time datetime="{{ page.date }}">
                  {% assign day = page.date | date: "%-d"  %}
                  {% case day %}
                    {% when '1' or '21' or '31' %}{{ day }}st
                    {% when '2' or '22' %}{{ day }}nd
                    {% when '3' or '23' %}{{ day }}rd
                    {% else %}{{ day }}th
                  {% endcase %}
                  {{ page.date | date: "%B %Y" }}
                </time>
              </h2>
            {% endif %}
          </hgroup>
        {% endif %}
        {{ content }}
        {% if page.is_post %}
          <div id="disqus_thread"></div>
        {% endif %}
      </main>
      <footer>{% include footer.html %}</footer>
    </div>
    {% include scripts.html %}
  </body>
</html>
