<!doctype html>
<html lang="en">
{% include head.html title_suffix=true %}
	<body{% if page.microdata_type %} itemscope itemtype="{{ page.microdata_type }}"{% endif %}>
{% for meta in page.microdata_meta %}
		<meta itemprop="{{ meta.name }}" content="{{ meta.value }}">
{% endfor %}
		<div class="row">
{% include header.html %}
			<main class="column-3" id="content">
				<div class="row">
					<div class="column-2">
{% if page.categories contains 'blog' %}
						<p><a href="{{ site.baseurl }}blog/">&larr; Blog</a></p>
						<article itemscope itemtype="http://schema.org/BlogPosting">
{% else %}
						<p class="post-nav"><a href="{{ site.baseurl }}articles/">&larr; Articles</a></p>
						<article itemscope itemtype="http://schema.org/Article">
{% endif %}
							<meta itemprop="author" content="Joseph Mansfield">
							<h1>{{ page.title }}</h1>
							<p class="post-info">by Joseph Mansfield on {{ page.date | date: "%-d %B %Y" }}</p>
{{ content }}
						</article>
					</div>
				</div>
			</main>
		</div>
		<div class="row">
{% include footer.html %}
		</div>
	</body>
</html>
